<div class="container">
  <h1 class="center"><%= @boss['name'] %></h1>
  <h3><%= @boss['description'] %></h3>
  <h3>Level: <%= @boss['level'] %></h3>
  <h3>Health: <%= @boss['health'] %></h3>
  <h3>Zone ID: <%= @boss['zoneId'] %></h3>
  <h3>Journal ID: <%= @boss['journalId'] %></h3>
</div>
